.call {
  text-align: center;
}

.rtc-container {
  float: left;
  padding: 20px;
  text-align: initial;
  width: 50vw;
}

.rtm-container {
  padding: 20px;
  text-align: initial;
  margin-left: 50vw;
}

.button-group {
  padding: 20px;
}

.call-form {
  padding: 20px;
}

input, button {
  margin-right: 10px;
}